*/target/*
/target/
*/.settings/*
/.settings/
*/.project
/.project
*/.classpath
/.classpath
*/.gitignore
/.gitignore
*/test-output/*
/test-output/
*/pom.xml.versionsBackup
/pom.xml.versionsBackup
*/bin/*
/bin/
*/.idea/*
/.idea/
*/.metadata/*
/.metadata
*/out/*
/out/
*.iml
